.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    align-self: auto;
  }
}
.section2 {
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 0;
  display: none;
}
.section2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.section2 > :global(.__wab_flex-container) > *,
.section2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section2 > :global(.__wab_flex-container) > picture > img,
.section2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section2 {
    width: var(--token-Nc_x3RgMOKxOrQ);
    align-self: auto;
    height: 100%;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section2 > :global(.__wab_flex-container) {
    min-height: 0;
  }
}
.subHeading {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 1.2;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .subHeading {
    left: 0px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    min-width: 0;
  }
}
.logoContainer {
  flex-direction: row;
  width: 1350px;
  max-width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.logoContainer > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin-left: calc(0px - 90px);
  width: calc(100% + 90px);
  margin-top: calc(0px - 34px);
  height: calc(100% + 34px);
}
.logoContainer > :global(.__wab_flex-container) > *,
.logoContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoContainer > :global(.__wab_flex-container) > picture > img,
.logoContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 90px;
  margin-top: 34px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logoContainer {
    left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .logoContainer > :global(.__wab_flex-container) {
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .logoContainer > :global(.__wab_flex-container) > *,
  .logoContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .logoContainer > :global(.__wab_flex-container) > picture > img,
  .logoContainer
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.img__kj4Fg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 180px;
  height: auto;
  display: block !important;
  flex-shrink: 0;
}
.img__kj4Fg > picture > img {
  object-fit: cover;
}
.img__kj4Fg > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__kj4Fg {
    width: 100px;
    height: auto;
  }
}
.img__wwOPf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 180px;
  height: 85px;
  display: block !important;
  flex-shrink: 0;
}
.img__wwOPf > picture > img {
  object-fit: cover;
}
.img__wwOPf > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__wwOPf {
    width: 100px;
    height: auto;
  }
}
.img__fYiBd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 157px;
  height: 66px;
  display: block !important;
  flex-shrink: 0;
}
.img__fYiBd > picture > img {
  object-fit: cover;
}
.img__fYiBd > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fYiBd {
    width: 120px;
    height: auto;
  }
}
.img__nxzKf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 164.999px;
  height: 80.999px;
  display: block !important;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__nxzKf > picture > img {
  object-fit: cover;
}
.img__nxzKf > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__nxzKf {
    width: 100px;
    height: auto;
    left: auto;
    top: auto;
  }
}
.section3 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section3 {
    margin-top: auto !important;
    flex-direction: column;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 30px;
    flex-column-gap: 0px;
  }
}
.twoSideBox {
  width: 1350px;
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .twoSideBox {
    margin-top: 0px;
    width: 100%;
  }
}
.freeBox__yPtCy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yPtCy {
    align-self: auto;
    margin-top: 0px;
    display: flex;
  }
}
.freeBox__croF8 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__croF8 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    flex-column-gap: 0px;
  }
}
.columns__pnRJl {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__pnRJl > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__pnRJl > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pnRJl {
    width: auto;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-self: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pnRJl > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fyCjC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__uamVt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.subHeading2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  left: auto;
  top: auto;
  min-width: 0;
}
.text__fUpRv {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Ultra", serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  text-align: left;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fUpRv {
    font-size: 30px;
  }
}
.peraContent {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-bBlb1RZ46rCBqi);
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .peraContent {
    font-size: 18px;
  }
}
.unorderList {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.listIteam {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 1.8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam {
    font-size: 16px;
  }
}
.listIteam3 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 1.8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam3 {
    font-size: 16px;
  }
}
.listIteam4 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 1.8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam4 {
    font-size: 16px;
  }
}
.listIteam5 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 1.8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam5 {
    font-size: 16px;
  }
}
.listIteam6 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 1.8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam6 {
    font-size: 16px;
  }
}
.listIteam7 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 1.8;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam7 {
    font-size: 16px;
  }
}
.button__wXgM9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__wXgM9:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__tyEPo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__siVxo {
  font-family: "Montserrat", sans-serif;
}
.svg___2MOav {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__yuqXq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__yuqXq {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    flex-column-gap: 0px;
  }
}
.bannerImage2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  max-height: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bannerImage2 {
    align-self: center;
  }
}
.imageMarketing2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.imageMarketing2 > picture > img {
  object-fit: cover;
}
.imageMarketing2 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imageMarketing2 {
    width: 400px;
    height: auto;
    flex-shrink: 0;
  }
}
.section4 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#fc5147e0, #fc5147e0),
    url("./images/image3.png") 0% 0% / cover;
  min-width: 0;
  display: none;
  padding: 139px 8px;
}
.freeBox__d9Oto {
  width: 1350px;
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d9Oto {
    width: 100%;
    min-width: 0;
  }
}
.columns__ibnQa {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ibnQa > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
.columns__ibnQa > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ibnQa {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ibnQa > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__rRkT3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__zutfw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 256px;
  height: 256px;
  box-shadow: 0px 0px 0px 16px #ffffffdb;
  flex-shrink: 0;
  border-radius: 999px;
}
.img__zutfw > picture > img {
  object-fit: cover;
}
.img__zutfw > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__cSd4P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__hICs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.testimonialText {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .testimonialText {
    max-width: 100%;
    font-size: 30px;
  }
}
.position {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  line-height: 1.5;
  padding-top: 24px;
  min-width: 0;
}
.section5 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 50px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 {
    padding-bottom: 9px;
  }
}
.twoSidedContent {
  width: 1350px;
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
.subHeading3 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0em;
  line-height: 100%;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .subHeading3 {
    text-align: center;
  }
}
.line2 {
  background: rgba(0, 0, 0, 1);
  width: 104px;
  height: 2px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  margin-top: 30px;
  flex-shrink: 0;
}
.columns__zbHtz {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  left: auto;
  top: auto;
  max-width: 1300px;
  min-width: 0;
  padding: 38px 8px 50px;
}
.columns__zbHtz > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__zbHtz > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 16px) * 6 / 12);
}
.columns__zbHtz > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 16px) * 6 / 12);
}
.columns__zbHtz > :global(.__wab_flex-container) > *,
.columns__zbHtz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__zbHtz > :global(.__wab_flex-container) > picture > img,
.columns__zbHtz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zbHtz {
    width: 100%;
    height: auto;
    flex-direction: row;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zbHtz > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zbHtz > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
.column___3Qpb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__fhJ1C {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  padding-left: 0px;
  min-width: 0;
}
.ol {
  display: flex;
  flex-direction: column;
}
.p__klrv3 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 20px;
  min-width: 0;
}
.column__jPeY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__r6Le {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.p__yxKsF {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 20px;
  min-width: 0;
}
.column__e7Qa8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__wV2Um {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.p__by5NE {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 20px;
  min-width: 0;
}
.column__ck8Pl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__tutKi {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.p__vwB9U {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 20px;
  min-width: 0;
}
.column__v8HvT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__jxR4A {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.p__oiWrX {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 20px;
  min-width: 0;
}
.column__fxgIa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__qXpSp {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.p__b9Ir {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 20px;
  min-width: 0;
}
.section6 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  display: none;
  padding: 8px;
}
.twoSideBox2 {
  width: 1350px;
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
.columns___9T8Gv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___9T8Gv > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___9T8Gv > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9T8Gv {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9T8Gv > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__c396G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__rr9Gu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.subHeading4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  left: auto;
  top: auto;
  min-width: 0;
}
.text__loViq {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  text-align: left;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__loViq {
    font-size: 30px;
  }
}
.peraContent2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-bBlb1RZ46rCBqi);
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .peraContent2 {
    font-size: 18px;
  }
}
.unorderList2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  min-width: 0;
}
.listIteam2 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam2 {
    font-size: 16px;
  }
}
.listIteam9 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam9 {
    font-size: 16px;
  }
}
.listIteam10 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam10 {
    font-size: 16px;
  }
}
.listIteam11 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam11 {
    font-size: 16px;
  }
}
.listIteam12 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam12 {
    font-size: 16px;
  }
}
.listIteam13 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  user-select: text;
  white-space: pre-wrap;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listIteam13 {
    font-size: 16px;
  }
}
.button__vCXe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__vCXe:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__y1Xgn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___4BHpw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__cPZdh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.bannerImage3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  max-height: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bannerImage3 {
    align-self: center;
  }
}
.imageMarketing3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.imageMarketing3 > picture > img {
  object-fit: cover;
}
.imageMarketing3 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imageMarketing3 {
    width: 400px;
    height: auto;
    flex-shrink: 0;
  }
}
.section7 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#2f4461cc, #2f4461cc),
    url("./images/image6.png") left 0% top 50% / cover;
  min-width: 0;
  display: none;
  padding: 168px 8px;
}
.freeBox__mwzNu {
  width: 1350px;
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
.subHeading5 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0em;
  line-height: 100%;
  display: block;
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .subHeading5 {
    font-size: 30px;
    text-align: center;
  }
}
.line3 {
  background: #ffffff;
  width: 104px;
  height: 2px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  margin-top: 30px;
  flex-shrink: 0;
}
.columns__ndOfe {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1300px;
  min-width: 0;
  padding: 30px 8px;
}
.columns__ndOfe > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__ndOfe > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 16px) * 6 / 12);
}
.columns__ndOfe > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 16px) * 6 / 12);
}
.columns__ndOfe > :global(.__wab_flex-container) > *,
.columns__ndOfe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ndOfe > :global(.__wab_flex-container) > picture > img,
.columns__ndOfe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ndOfe {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ndOfe > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ndOfe > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
.column__yxa9R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__yxa9R {
    padding-top: 0px;
    justify-content: flex-start;
  }
}
.blockChapterContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .blockChapterContent {
    padding-top: 40px;
  }
}
.text__erKzD {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__erKzD {
    font-size: 18px;
  }
}
.li__ueCbE {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  padding-top: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__ueCbE {
    font-size: 16px;
  }
}
.li___3BtX {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li___3BtX {
    font-size: 16px;
  }
}
.li___5Nh5P {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li___5Nh5P {
    font-size: 16px;
  }
}
.li__aVuLz {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__aVuLz {
    font-size: 16px;
  }
}
.column__rEMc6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rEMc6 {
    padding-top: 27px;
    justify-content: flex-start;
  }
}
.blockChapterContent4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px 0px;
}
.text___2An6K {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2An6K {
    font-size: 18px;
    padding: 0px 2px 2px;
  }
}
.li__kZy3 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  padding-top: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__kZy3 {
    font-size: 16px;
  }
}
.li__qtttM {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__qtttM {
    font-size: 16px;
  }
}
.li__t87Yu {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__t87Yu {
    font-size: 16px;
  }
}
.li__aegMo {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__aegMo {
    font-size: 16px;
  }
}
.column__lvPgj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lvPgj {
    justify-content: flex-start;
  }
}
.text__fq6Nc {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fq6Nc {
    font-size: 18px;
  }
}
.li__iXuZ8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.li__xtz5U {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__xtz5U {
    font-size: 16px;
  }
}
.text__zkzv5 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  line-height: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zkzv5 {
    font-size: 16px;
  }
}
.blockChapterContent2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.li__z5Hnk {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__z5Hnk {
    font-size: 16px;
  }
}
.li___2TmLh {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li___2TmLh {
    font-size: 16px;
  }
}
.column__bwWuJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bwWuJ {
    justify-content: flex-start;
  }
}
.blockChapterContent3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px 0px;
}
.text__zYfvl {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zYfvl {
    font-size: 20px;
  }
}
.li__rmkN7 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  padding-top: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__rmkN7 {
    font-size: 16px;
  }
}
.li__gy9G0 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__gy9G0 {
    font-size: 16px;
  }
}
.li__hc0W {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__hc0W {
    font-size: 16px;
  }
}
.li__eRDl {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  line-height: 2;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__eRDl {
    font-size: 16px;
  }
}
.section8 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__s1Kej {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1300px;
  min-width: 0;
  padding: 50px 8px;
}
.columns__s1Kej > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
.columns__s1Kej > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__s1Kej {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__s1Kej > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__gEjE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.avtarContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 30px 8px 8px;
}
.h2__y8Hy8 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__y8Hy8 {
    padding-top: 30px;
    font-size: 30px;
  }
}
.p__eecF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p__eecF {
    font-size: 18px;
  }
}
.p__pGtn5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p__pGtn5 {
    font-size: 16px;
  }
}
.p__yNBg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: var(--token-bBlb1RZ46rCBqi);
  font-weight: 700;
  margin-top: 11px;
  min-width: 0;
  padding: 11px 0px 28px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p__yNBg {
    font-size: 16px;
  }
}
.p__yJdG1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: var(--token-bBlb1RZ46rCBqi);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p__yJdG1 {
    font-size: 16px;
  }
}
.column__kgXL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.avatarImage {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.img__fmGbb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 8px;
}
.img__fmGbb > picture > img {
  object-fit: cover;
}
.img__fmGbb > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fmGbb {
    height: 100%;
    width: 400px;
    min-height: 0;
  }
}
.section9 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#fc5147e0, #fc5147e0),
    url("./images/image10.png") 0% 0% / cover;
  min-width: 0;
  display: none;
  padding: 169px 8px;
}
.freeBox__cpq6F {
  width: 100%;
  max-width: 1300px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
.h2__tmrSo {
  position: relative;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__tmrSo {
    font-size: 30px;
    text-align: center;
  }
}
.button__l02IT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 26px;
}
.svg__xlOqO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kenAw {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: #ffffff;
}
.section1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 80px;
  align-self: flex-end;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 {
    padding-top: 70px;
  }
}
.container {
  width: 1350px;
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    width: auto;
  }
}
.freeBox___9An3Z {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___9An3Z > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 105px);
  width: calc(100% + 105px);
}
.freeBox___9An3Z > :global(.__wab_flex-container) > *,
.freeBox___9An3Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9An3Z > :global(.__wab_flex-container) > picture > img,
.freeBox___9An3Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 105px;
}
.freeBox__jBr3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__v0TX5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 4px 8px 24px 0px #00000080;
  display: none !important;
}
.img__v0TX5 > picture > img {
  object-fit: cover;
}
.img__v0TX5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.useTicket:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 49px;
  display: none;
}
.svg__cnIUf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___6BdDz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.img__b4RTd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__b4RTd > picture > img {
  object-fit: cover;
}
.img__b4RTd > .__wab_img-spacer > img {
  object-fit: cover;
}
.flexBox {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.flexBox > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.flexBox > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 16px) * 5 / 12);
}
.flexBox > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 16px) * 7 / 12);
}
.flexBox > :global(.__wab_flex-container) > *,
.flexBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.flexBox > :global(.__wab_flex-container) > picture > img,
.flexBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .flexBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .flexBox > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .flexBox > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
.column__flLuE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.bannerImage {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  max-height: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bannerImage {
    align-self: center;
  }
}
.img__akm0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 4px 8px 24px 0px #00000080;
  width: 1089px;
  flex-shrink: 0;
}
.img__akm0 > picture > img {
  object-fit: cover;
}
.img__akm0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__yLjU0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.contentBlock {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 8px 8px;
}
.mainHeading {
  color: var(--token-bBlb1RZ46rCBqi);
  font-size: 40px;
  font-weight: 700;
  font-family: "Ultra", serif;
  line-height: 1.2;
  letter-spacing: 0px;
  position: relative;
  height: auto;
  max-width: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainHeading {
    font-size: 46px;
  }
}
.peraBanner {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.text__h5Klx {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--token-bBlb1RZ46rCBqi);
  letter-spacing: 1px;
}
.freeBox__yvd0K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
  margin: 20px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yvd0K {
    top: auto;
    left: auto;
    align-self: center;
  }
}
.button___8EGZf:global(.__wab_instance) {
  max-width: 100%;
}
.svg___9Uu2O {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__zdO0Z {
  height: auto;
}
.svg__t7MEd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px 8px;
  border-bottom: 1px solid #d2d2d2;
}
.columns__whfd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1300px;
  padding: 8px;
}
.columns__whfd > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 5 / 12);
}
.columns__whfd > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__whfd > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__whfd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__whfd > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__eWvk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.footerLogo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.logo2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 300px;
}
.logo2 > picture > img {
  object-fit: cover;
}
.logo2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__vc3L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h3__qxwI9 {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 10px;
  padding-top: 10px;
  min-width: 0;
}
.footerLink {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 0;
}
.column__ruh2A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h3__fhn5C {
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 10px;
  padding-top: 10px;
  min-width: 0;
}
.footerLink4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 0;
}
.footerLink5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-bBlb1RZ46rCBqi);
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 0;
}
.freeBox__fohc5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1300px;
  min-width: 0;
  padding: 8px;
}
.columns__gFMyo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__gFMyo > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns__gFMyo > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gFMyo {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gFMyo > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__joNxi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.copyRight {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-bBlb1RZ46rCBqi);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
.column___2Sr08 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.socialIcons {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.socialIcons > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.socialIcons > :global(.__wab_flex-container) > *,
.socialIcons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.socialIcons > :global(.__wab_flex-container) > picture > img,
.socialIcons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
.link__qiDsd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.twitter {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
}
.twitter > picture > img {
  object-fit: cover;
}
.twitter > .__wab_img-spacer > img {
  object-fit: cover;
}
.link__yGfW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.facebook {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
}
.facebook > picture > img {
  object-fit: cover;
}
.facebook > .__wab_img-spacer > img {
  object-fit: cover;
}
.link__wIqXe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.youtube {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
}
.youtube > picture > img {
  object-fit: cover;
}
.youtube > .__wab_img-spacer > img {
  object-fit: cover;
}
.link__b8C0H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__rP1ER {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.vimeo {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
}
.vimeo > picture > img {
  object-fit: cover;
}
.vimeo > .__wab_img-spacer > img {
  object-fit: cover;
}
